
.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    flex-direction: row-reverse;
    background-color: gray;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 10px;
    
}

.nav__header {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    
}

.nav__item {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s ease;
    background-color: transparent;
}

.nav__item:hover {
    color: white;
    background-color: blue;
    border-radius: 5px;
}





